section {
  width: 600px;
  border-radius: 8px;
  background-color: #757575;
  display: inline-block;

}


body {
  text-align: center;
}

#temperature {
  background-color: #ffffff;
  color: #2D2D2D ;
  border: 2px solid #ADA3A3;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  padding: 5px;
}





button {
  background-color: #ffffff;
  color: #2D2D2D ;
  font-family: Helvetica;
  font-size: 16px;
  border-radius: 10px;
  margin: 2px
}







h1 {
  font-family: Helvetica;
  color: #ffffff;
}

h2 {
    font-family: Helvetica;
    color: #ffffff;
}
